.ant-comment-inner {
  padding: 0;
  padding-bottom: 16px;
}

.feedback-viewer-column {
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.feedback-viewer-column::-webkit-scrollbar {
  width: 7px;
}

.feedback-viewer-column::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.feedback-viewer-column::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

.feedback-viewer-column::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}
