#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  background: url("../../images/starry-bg.png")
}

#logo {
  width: 250px;
  padding-top: 25px;
}

h1 {
  color: black;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input,
.password-input {
  width: 300px;
  border-radius: 10px;
}

.login-button,
#sign-out-button {
  background: #31986a;
  border: none;
  margin-top: 10px;
  height: auto;
  color: white;
}
.login-button {
  font-size: 20px;
}

.login-button:hover {
  background: #188262;
}

#email {
  background-color: white;
}
